extends layout

block content
  p(id="data")
  script(type='text/javascript').
    window.setInterval(function getData() {
      var req = new XMLHttpRequest();
      req.open("GET", "/reload");
      req.onreadystatechange = function() {
          document.getElementById("data").innerHTML = req.responseText;
          console.log(req);
      }       
      req.send();
    }, 1000);
  style(type='text/css').
    h1 {
       color: #ff8833;
    }
    .red {
       color: #ff0033;
    }
    .green {
       color: #008800;
    }
    .bigblue {
       color: blue;
       font-size: 30px;
    }
